a {
    text-decoration: none;
    color: inherit;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    background-color: white;
    color: black;
  }
  .header-ttl {
    font-size: 24px;
    width: 80px;
  }
  .header-nav-list {
    display: flex;
    font-weight: bold;
    padding: 0 10px 0 650px;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 30px;
  }

  .top {
    display: flex;
    background: url(../html/css/img/mv.png)no-repeat;
    background-size: cover;
    height: 300px;
    max-width: 100%;
}
.top__ttl {
    font-size: 25px;
    position: absolute;
    top: 200px;
    left: 700px;
    color: white;
}

.recruit__new__ttl,
.recruit__mid__ttl {
  font-size: 25px;
  border-bottom: 1px solid black;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
}
.recruit__com {
  padding: 0 230px;
}
@media  screen and (max-width: 768px) {
  .recruit__com {
    padding: 0 30px 0 110px;
  }
}
table {
  border-collapse:  collapse;
  margin: 0 auto;
  width: 70%;
}
th,td {
  border: black solid 1px;
  padding: 10px;
}
th {
  background-color: whitesmoke;
}

.service__contact {
    color: #222;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    height: 200px;
    margin-top: 80px;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.contact__btn {
    width: 150px;
    font-size: 15px;
    background-color: red;
    color: white;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 700px;
}
@media  screen and (max-width: 768px) {
    .contact__btn {
        position: absolute;
        left: 140px;
    }
}

.footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  .footer-inner{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  .footer-ttl {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
  }
  .footer-nav-list {
    display: flex;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 20px;
  }
  .footer-nav-item:not(:last-child) {
    margin-right: 30px;
  }
  .copyright{
    font-size: 12px;
  }
  .footer-nav-item+ .footer-nav-item {
    border-left: 1px solid white;
    margin-left: 5px;
  }

ul {
    list-style-type: none;
}

.drawer-nav{
  display: none;
}
@media  screen and (max-width: 768px) {   
a{
  text-decoration: none;
  color: blue
}
    .menu{
      display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    }

    .header-nav-list {
      display: none;
    }
    .menu.open span:nth-of-type(1) {
      top: 14px;
      transform: rotate(45deg);
    }
    .menu.open span:nth-of-type(2) {
    opacity: 0;
    }
    .menu.open span:nth-of-type(3) {
      top: 14px;
      transform: rotate(-45deg);
    }
    .in {
      transform: translateX(100%);
    }
    .menu-line-top {
      top: 0;
    }
    .menu-line-middle {
      top: 14px;
    }
    .menu-line-bottom {
      bottom: 0;
    }
    .menu-line-top,
    .menu-line-middle,
    .menu-line-bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
    }
    .drawer-nav{
      display: block;
      position: absolute;
      height: 100vh;
      width: 100%;
      top: 0;
      left: -100%;
      background: white;
      transition: .7s;
      }
    .drawer-nav-list {
    text-align: center;
    }
    .drawer-nav-list, .drawer-nav-item{
      list-style-type: none;
      margin-top: 50px;
    }
    .top__ttl {
      font-size: 30px;
      text-align: center;
      position: absolute;
      top: 200px;
      left: 300px;
  }
  .contact__btn {
    position: absolute;
    left: 310px;
}
}